Package: kernel-module-fuse
Priority: optional
Version: 3.2.0-psp5.4-r2
Depends: update-modules, kernel-3.2.0
Architecture: am335x_evm_spyglass_ii
Section: kernel
Maintainer: Ashley Towns <mail@ashleytowns.id.au>
Source: fuse.ko
Description: With FUSE it is possible to implement a fully functional filesystem
 in a userspace program.
