#!/usr/bin/make -f
ROOT=/tmp/kernel-module-hfsplus
TARGET=$(ROOT)/lib/modules/3.2.0/kernel/fs/hfsplus/

build:
install:
	mkdir -p $(TARGET)
	cp -vr hfsplus.ko $(TARGET)
	chown -R root:root $(ROOT)
clean:
	rm -rvf $(ROOT)
